*{
    margin: 0;
    padding: 0;
}
/* blue: #0075be 
orange: #f6821e*/
.create p{
    position: relative;
    top: 20px;
    font-size:2.5rem;
    text-align: center;
    color:  #0075be;
    background-color: silver;
   
}
.form{
    width: 100%;
    position: relative;
    left: 70px;
    top: 100px;
}
.form1{
    margin: 10px;
    width: 100%;
   display: grid;
   
   grid-template-columns: 33% 33% 33%;
}
.form1 label{
font-size: 1.5rem;
position: relative;

}
#dob{
    width: 150px;
}
.form1 select{
    width: 150px;
}
.form1 input{
    border-radius: 10px;
    border: 1px solid gray;
    height: 30px;
    width: 350px;
}
#current , #saving {
    width: 15px;
}

.radio label{
    margin: 10px;
    font-size: 1.2rem;
}
.form button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    left: 680px;
    top: 40px;
    border: 1px solid black;
    
}
.form button:hover{
    color:#f6821e ;
}


.acknowledgement{
    display: none;
}
