*{
    margin: 0;
 padding: 0;
}
/* blue: #0075be 
orange: #f6821e*/
.admincomponent{
    display: flex;
    width: 730px;
    height: 500px;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
    border-radius: 10px;
   margin: auto;
   margin-top: 40px;
        background-color: rgb(240, 240, 240);
        box-shadow:  0 0 1rem rgb(127, 127, 127);
}
.admincom{
    margin: 10px;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 1rem #96b6ca;
    border-radius: 10px;
    text-align: center;
    background-color: #0075be;
}
.admincom a{
    text-decoration: none;
}

.admincom h2{
 
    
color: rgb(255, 255, 255);

}
.admincom p{
    font-size: 1.5rem ;
 color: white;
 position: relative;
 top: 7px;
}
.admincom p:hover{
    color:#f6821e ;
}